body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

#background-container {
    text-align: center;
}

#imageUpload {
    display: none;
}

label {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}
